
body{
    background-color: #ccc;
    margin: 0 auto;
    text-decoration: none;  
}
.myDetail h2{
    margin-top: 50px;
}
.myDetail h3{
    font-weight: bold;
}
#aboutMe{
    font-size: 1.3em;
    padding: 25px;
}
#contactMe{
    margin-top: 20px; 
    font-size: 2em;
}
.mypic{
    height: 200px;
    border-radius: 100%;
}
.myDetail{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 25px;
    }
    .courseObjective{
        margin-top: 40px;
    }
.footer{
    margin-top: 100px;
    padding: 30px;
}
/* 
a:link{
    color: #fff;
} */
.list{
    font-size: 1.4em;
}
#navbar{
    background-color: #003366;
    padding: 0;
    margin-bottom: 100px;
    
}
#resumeId{
    margin-top: 5px;
    margin-right: 15px;
}
#ksu{
    color: #E1DC40;
}
